body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

img.screenshot {
  border: 2px solid black;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

.content {
  float: right;
  width: 70%;
  margin: 10px;
  padding: 10px;
}

.post_footer {
  background-color: #C0C0FF;
}

.tags {
  background-color: #D0D0FF;
}

.createdTime {
  color: #A0A0A0;
}

.updatedTime {
  color: #A0A0A0;
}

.disclaimer {
  font-size: 80%;
  color: #808080;
}

.disclaimertag {
  font-size: 80%;
  font-weight: bold;
  color: #0000FF;
}

.post {

}

.floatright {
  float: right;
}

.bigspacer {
  min-height: 800px;
}

#leftnavbar {
  float: left;
  background-color: #B0B0FF;
  max-width: 20%;
  min-height: 800px;
  padding: 10px;
  margin: 10px;
}

/* will_paginate CSS */

DIV.pagination {
  background-color: #F0F8FF;
  color: #0080D0;
  font-size: 150%;
  padding: 5%;
  margin-top: 30px;
}

DIV.pagination a {
  color: #0080E0;
}

DIV.pagination a:visited {
  color: #70A070;
}

DIV.pagination .prev_page {
  font-size: 200%;
  color: #00FF00;
}

DIV.pagination .next_page {
  font-size: 200%;
  color: #00FF00;
}

DIV.pagination .disabled {
  font-size: 100%;
  color: #606060;
}

DIV.pagination .current {
  font-size: 125%;
  color: #FF4040;
}

/* Flash CSS */
#flashNotice {
  color: green;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

