<div class="floatright"><a href="slide1">Next</a></div>

<h1> Notes </h1>

<p>
  Just adding Rails views on top of Java models, even without a wrapper,
  is a great alternative to JSPs.  It gets Ruby's foot in the door.
</p>

<p>
  JRuby is just a JAR file, so it works with the existing deployment
  infrastructure.  JRuby has decent ways to shoehorn Rails into most
  existing deployment environments.
</p>

<p>
  After your foot's in the door, it's easy to demonstrate how much better
  Rails is than JSPs.
</p>

<p>
  Once you're calling through a Java interface, you can reimplement in
  Ruby, and switch the old Java class out completely.  Tests help with
  this!
</p>

<p>
  Every time you switch a Java model over to ActiveRecord, you get better
  caching, finders, helpers and often stability.  This makes it an easier
  and easier sell as you go along.
</p>

<p>
  Speaking of testing:  write your tests in Ruby, even if you're testing
  Java objects.  The setup is easier, and the JRuby wrappers around Java
  objects can be stubbed or monkeypatched!  Ruby also has better Fixture
  replacements.
</p>

<h2> Want To Do This As Your Day Job?  Come Work For On-Site! </h2>

<div class="bigspacer"></div>
