<div class="floatright"><a href="slide3">Next</a></div>

<h1> Java Models </h1>

<p>
  You already have these.  You've been writing in Java and JSP, but you've
  been making classes to look up your database objects and do your validations,
  pretty much like ActiveRecord.
</p>

<p>
  Obviously, Ruby would be an improvement, but it would also be a very large
  rewrite project.  Large rewrites are hard to sell to the business guys...
</p>

<div class="bigspacer"></div>
