<div class="content">
<%= @page > 1 ? "<h1>Page #{@page}</h1>" : "" %>

<% @commentlink = true %>
<%= render :partial => 'post', :collection => @posts %>

<div id="pageLinks">
  <%= page_links @page %>
</div>
<%= link_to 'New post', new_post_path %>

</div> <!-- Content div -->

<!-- Disqus hook -->
<script type="text/javascript">
//<![CDATA[
(function() {
		var links = document.getElementsByTagName('a');
		var query = '?';
		for(var i = 0; i < links.length; i++) {
			if(links[i].href.indexOf('#disqus_thread') >= 0) {
				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
			}
		}
		document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/angelbobsblog/get_num_replies.js' + query + '"></' + 'script>');
	})();
//]]>
</script>
