<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Angelbob on Programming</title>
  <%= stylesheet_link_tag 'angelbob' %>
  <%= auto_discovery_link_tag :atom, posts_path(:atom) %>
</head>
<body>

<p id="flashNotice"><%= flash[:notice] %></p>

<div id="leftnavbar">
  <a href="about.html">
  <img src="/images/myface.jpg" width="100"> <br /> About Me</a>

  <hr />

  <a href="http://csoft.angelbob.com/portfolio">Online Portfolio</a> <br />
  <a href="http://csoft.angelbob.com/resume">Resume</a> <br />
  <a href="http://csoft.angelbob.com">Old Home Page</a>

  <hr />

  <a href="http://feeds2.feedburner.com/AngelbobsBlog" title="Subscribe to my feed" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon32x32.png" alt="" style="border:0"/></a><a href="http://feeds2.feedburner.com/AngelbobsBlog" title="Subscribe to my feed" rel="alternate" type="application/rss+xml">Subscribe in a reader</a>

  <hr />

<script type="text/javascript"><!--
google_ad_client = "pub-7067201810700440";
/* blog navbar */
google_ad_slot = "1900548328";
google_ad_width = 120;
google_ad_height = 240;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

</div>

<%= yield %>

<!-- Google Analytics hook -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-169002-2");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
