<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Angelbob on Programming</title>
  <%= stylesheet_link_tag 'angelbob' %>
  <%= auto_discovery_link_tag :atom, posts_path(:atom) %>
</head>
<body>

<p id="flashNotice"><%= flash[:notice] %></p>

<div id="leftnavbar">
  <a href="about.html">
  <img src="/images/myface.jpg" width="100"> <br /> About Me</a>
</div>

<%= yield %>

<!-- Google Analytics hook -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-169002-2");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
